@model SiteMonitoring.Models.TimeSpan
@{
    ViewBag.Title = "Удаление промежутка времени";
}
<ol class="breadcrumb">
    <li><a asp-action="Index" asp-controller="Home">Главная</a></li>
    <li><a asp-action="Index" asp-controller="TimeSpan">Промежуток времени</a></li>
    <li class="active">@ViewBag.Title</li>
</ol>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading">@ViewBag.Title</div>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Название</th>
                    <td>@Model.Minutes</td>
                </tr>
            </tbody>
        </table>
    </div>
    <form asp-action="Delete" method="post">
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-block" value="Удалить" />
        </div>
        <a asp-action="Index" asp-controller="TimeSpan" class="btn btn-default btn-block" role="button">Назад</a>
    </form>
</div>